@using System.Collections.Specialized;
<h3>QAndAComponent</h3>
<table>
    <tr>
        <td>
            <label for="Questions">Enter Question below</label>
        </td>
        <td>
            <textarea id="Questions" rows="3" @bind="qAndA.QuestionText"></textarea>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <table class="table-striped">
                <tr>
                    <td>
                        Answer Key
                    </td>
                    <td>
                        Answer text
                    </td>
                </tr>
                @foreach (var answer in qAndA.Answers)
                {
                    <tr>
                        <td>
                            <input type="text" @bind="answer.AnswerKey" />
                        </td>
                        <td>
                            <input type="text" @bind="answer.AnswerText" />
                        </td>
                        <td colspan="2">
                            <button class="btn btn-primary"
                                    @onclick="@(e => AddAnswerPlaceholder(answer,true))">
                                +
                            </button>
                        </td>
                       
                    </tr>
                }
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <label for="QuestionType">Choose the Answer Type</label>
        </td>
        <td>
            <select @bind="qAndA.AnswerType" id="QuestionType">
                <option value="@ResponseType.SingleLine">Single</option>
                <option value="@ResponseType.MultiLine">Multiple</option>
                <option value="@ResponseType.FreeText">Free Text</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="Answerkeys">Enter the solutions as comma separated option</label>
        </td>
        <td>
            <input type="text" @bind="answerOptions" id="Answerkeys" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button class="btn btn-primary" @onclick="@(async()=>await SubmitQAndA())">Add answer</button>
        </td>
    </tr>
</table>
@code {
    [Parameter]
    public EventCallback<QAndA> OnCompleted { get; set; }

    private QAndA qAndA { get; set; } = new QAndA();
    private string answerOptions { get; set; }

    private int NumberOfRowsAdded = 1;
    protected override void OnInitialized()
    {
        ClearControl();

    }
    private void AddAnswerPlaceholder(Answer answer, bool AddNewRow)
    {

        //qAndA.Answers.Add(answer);
        if (AddNewRow)
        {
            var newAnswerLine = new Answer();
            var lastAnsIdx = qAndA.Answers.Max(answer => answer.AnswerId);
            newAnswerLine.AnswerId = lastAnsIdx + 1;
            qAndA.Answers.Add(newAnswerLine);
            NumberOfRowsAdded++;
            StateHasChanged();
        }


        //else
        //    answer.AnswerId = 1;


    }
    private async Task SubmitQAndA()
    {
        qAndA.AnswerKeys = new StringCollection();
        qAndA.AnswerKeys.AddRange(answerOptions.Split(","));
        //qAndA.Answers.TrimExcess();
        if (OnCompleted.HasDelegate)
            await OnCompleted.InvokeAsync(qAndA);
    }
    public void ClearControl()
    {
        qAndA = new QAndA();
        var answer = new Answer();
        answer.AnswerId = 1;
        qAndA.Answers.Add(answer);
    }

}
